* {
	margin: 0;
	padding: 0;
	font-family: serif;
}
body {
	background-size: 75%;
	background-image: url(images/coding.jpeg);
	background-attachment: fixed;
}
h1 {
	color: #00BFFF;
}
a {
	color: black;
	text-decoration: none;
}
h3 {
	color: #00BFFF;
}

.wrapper {
	margin: 0 auto;
	width: 1100px;
	min-height: 400px;
}

.header-top {
	width: 100%;
	height: 20px;
	color: white;
	background-color: black;
	border-bottom: 1px solid gold;
}
.header {
	width: 100%;
	padding: 3em 0;
	border: 0px solid;
	border-bottom: 3px solid gold;
	background-image: url(images/tekno.jpg);
	background-size: 100%;
}
.header h1 {
	font-size: 40px;
}

.navbar {
	width: 100%;
	height: 40px;
	border: 0px solid;
	background-color: blue;
}
.navbar a {
	display: block;
}
.navbar ul li {
	position: relative;
	width: 100px;
	height: 40px;
	border: 0px solid;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 40px;
	color: white;
}
.navbar ul a {
	color: white;
	text-decoration: none; /*agar tidak tampil underline | ul: list tampil, li:list di klik*/	
}
.navbar ul li:hover { /*navbar utama ketika disentuh kotaknya*/
	background-color: darkblue;
	color: yellow;
	transition: 0.4s;
}
.navbar ul :active ul{
	background-color: darkblue;
}
.navbar ul li a:hover{
	color: yellow;
}
.navbar ul li:hover ul {
	display: block;
}
.navbar ul li ul {
	display: none;
}
.navbar ul li ul li {
	background-color: red;
}
.navbar ul li ul li:hover {
	background-color: darkblue;
}
.navbar input[type=search] {
	float: left;
	margin-top: 8px;
	margin-left: 250px;
	padding: 2px;	
	width: 200px;
	height: 25px;
}
.navbar button {
	float: right;
	margin-top: 8px;
	margin-right: 10px;
	padding: 2px;
}

.img {
    background-image: url(images/laptopku.jpg);
    background-size: 100%;
    width: 98%;
    padding: 8px;
}
.wrap_content-sidebar {
	margin-top: 10px;
    /*min-height: 500px;*/
    overflow: hidden;
}
.navbar-bottom { 
	margin-top: 10px;
	width: 100%;
	background: grey;
}
.navbar-bottom ul {
	margin: 0 auto;
	padding: 0.5em 0;
	text-align: center;
	width: 100%;
}
.navbar-bottom li { 
	list-style-type: none; 
	display: inline-block; 
	padding: 0; 
}
.navbar-bottom li a { 
	color: #333; 
	display: inline-block; 
	font-style: normal !important; 
	margin: 0 0 0 1em; 
	padding: 0; 
	text-decoration: none; 
}
.navbar-bottom ul li a:hover, .navbar-bottom ul li a:active { 
	text-decoration: none; 
	color: yellow; 
}
.footer {
	width: 100%;
	padding: 1em 0;
	border: 0px solid;
	color: white;
	background-color: darkblue;
	text-align: center;
}